*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #F5DEB3;
  }

.wrapper {
	background-color: white;
	width: 600px;
	height: 800px;
	margin: auto;
	box-shadow: 0 0 10px grey;
    margin-top:  5px;
    margin-bottom: 10px;
}


 .foto{
 	text-align: center;
 	padding-bottom: 30px;
 }

.infa{
	padding-top: 20px;
}
.infa,.infa1,.infa2,.infa3,.infa4,.infa5{
	margin-left: 150px;
	 margin-top:  25px;
    margin-bottom: 25px;

}




.hr1,.hr2,.hr3{
	border-bottom: 1px solid black;
	margin-right: 50px;
	margin-left: 50px;
}


 .vcont{
 	color: blue;
 	text-decoration: underline;
 }